# Entornos virtuales -
.venv/
.venv310/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos generados por editores (excepto configuraciones útiles)
.idea/
# Dejamos que .vscode/ se suba para guardar tasks.json
# Si no quieres subirlo, puedes añadir de nuevo la línea:
# .vscode/

# Archivos temporales generados
payload.json
generate_payload.py

# Archivos de datos crudos (opcional, pero buena práctica no subirlos)
# data/btc_raw.csv

# Archivos de sistema operativo
.DS_Store
Thumbs.db